.page{
    background-color: #ffffff;
}

/* Modo Noturno */
.border{
  border: 1px solid #fff;
}
.bg-black a{
  color: #000;
}
.bg-white a{
  color: #ffff;
}
.bg-red a{
  color: #ff0000;
}
.black a{
  color: #000000;
}
.tabbar .link, .tabbar .link-navbar, .tabbar-labels .link, .tabbar-labels .link-navbar {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: var(--f7-tabbar-link-text-transform);
  font-weight: var(--f7-tabbar-link-font-weight);
  letter-spacing: var(--f7-tabbar-link-letter-spacing);
  overflow: hidden;
}
.totalLikes{
  color: #000;
}
/* .panel{
  background-color: #000000;
} */

.text-white{
    color:white;
}
.text-center{
    width:100%;
    text-align: center!important;
}
.camera{
    width: 100%;
    max-height: 480px;
    border: 1px solid #0000004d;
    margin: 0 auto;
    overflow: hidden;
    background-color: transparent;
}
.camera img{
    width: 100%;
    object-fit: cover; 
    height: auto;
}
.menu .left{
    left: 0px!important;
}

.width-img{
  width: 100%;
  max-height: 480px;
  overflow: hidden;
}
.width-img img{
  width: 100%;
  object-fit: cover; 
  height: auto;
}
.demo-facebook-card .card-header {
  display: block;
  padding: 10px;
}
.demo-facebook-card .demo-facebook-avatar {
  float: left;
  border-radius: 50%;
  background-color: #000;
  width: 34px;
  height: 34px;
  overflow: hidden;
  margin-top: 4px;
}
.demo-facebook-card .demo-facebook-name {
  margin-left: 44px;
  font-size: 14px;
  font-weight: 500;
}
.demo-facebook-card .demo-facebook-date {
  margin-left: 44px;
  font-size: 13px;
  color: #8e8e93;
}
.demo-facebook-card .card-footer {
  background: #fafafa;
}
.demo-facebook-card .card-footer a {
  color: #81848b;
  font-weight: 500;
}
.demo-facebook-card .card-content img {
  display: block;
}
.demo-facebook-card .card-content-padding {
  padding: 15px 10px;
}
.demo-facebook-card .card-content-padding .likes {
  color: #8e8e93;
}
.card{
    margin-left: 0px!important;
    margin-right: 0px!important;
    box-shadow: none;
    background: none;
}
.font-icon i{
    font-size: 1.4em;
    margin-top: 8px;
}
.searchbar input[type=search], .searchbar input[type=text] {
    background: none!important;
    border: 1px solid rgb(223, 220, 220);
    border-radius: 0px;
}
.searchbar.searchbar-inline{
    height: 40px!important;
}
.userName{
    color: rgb(158, 157, 157);
}
.seguir{
    margin-top: 25px;
}
.p-insta{
    font-size: 1.4em;
}
.margin-0-perfil .block{
    margin: 0!important;
    margin-top: 18px!important;
}
.imagemPerfil{
    width: 98px;
    height: 86px; 
    border-radius: 50%;
    overflow: hidden;
}
.imagemPerfil img{
  width: 100%;
  height: auto;
}
.imagemPerfil .img-user{
  width: 100%;
  height: auto;
}
.strongPerfil{
    font-size: 1.2em;
}
.margin-perfil{
  margin-top: 15px;
}
.photos-col{
    display: flex;
}
.wrap    { 
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }  
.img-publiP{
    margin-right: 1px;
    margin-top: 1px;
    width: 33%;
    background-color: #000;
    height: 145px;
    overflow: hidden;
}
.img-publiP a img{
  height: 100%;
  object-fit: cover;
}
.demo-facebook-card2 .demo-facebook-avatar2 {
  float: left;
  border-radius: 50%;
  background-color: #000;
  width: 34px;
  height: 34px;
  overflow: hidden;
  margin-top: 4px;
}
.demo-facebook-avatar img{
  width: 100%;
  height: auto;
}
.demo-facebook-avatar2 img{
  width: 100%;
  height: auto;
}
.demo-facebook-card2 .demo-facebook-name2 {
  margin-left: 44px;
  font-size: 14px;
  font-weight: 500;

}
.font-chat{
  font-size: 1em;
}
.font-chat-msg{
  font-size: .8em;
}
.demo-facebook-card2 .demo-facebook-date2 {
  margin-left: 44px;
  font-size: 13px;
  color: #8e8e93;
}
.online{
  margin-left: 44px;
  font-size: 14px;
  font-weight: 500;
}

/* .message{
  max-width: 100%;
} */

.message:not(.message-last) .message-avatar{
  opacity: 10;
}

/* Formatando imagem */
.cameraUser{
  width: 100px;
  height: 101px;
  /* border: 4px solid rgb(0, 0, 0); */
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}
.cameraUser img{
  width: 100%;
  height: auto;
}
.block-title .link{
  text-align: center!important;
}

.camera2{
  width: 110px;
  height: 110px;
  border: 4px solid #000;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}
.camera2 img{
  width: 100%;
  height: auto;
}

.icon-chat{
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}

.icon-chat img{
  width: 100%;
  height: auto;
}
.p-chat{
  font-size: 1.3em;
  color: #c52323;
}

/* Tela de Splash */
.popup.popup-inicial.modal-in{
  background-color: #ffffff;
}
.content-abertura{
  width: 100%;
  height: auto;
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 50%;
}
.text-center{
  text-align: center;
}
.img-splash img{
  width: 100%;
}
.img-splash-logo{
  margin-top: 20px;
}
.img-splash-logo img{
  width: 80%;
}
.config .links-list a{
  justify-content: flex-start!important;
}

#verPerfil .block{
  margin: 0!important;
}

.block,.page-content,.card,.list,.list ul,.list li,.list .item-title,.list .item-inner,.link, .tab-link{
  position: static!important;
}

.badge{
  font-weight: bold!important;
  font-size: 1.2em!important;
  height: 25px!important;
  width: 25px;
}
.font-contador{
  font-size: .9em!important;
}

.div-list .list{
  font-size: 1em!important;
}
.div-list .list textarea{
  font-size: 1em!important;
  /* border-bottom: 1px solid rgb(0, 0, 0,0.3); */
}
.div-list .list textarea{
  padding-top: 0!important;
}
.div-list .inline-label .item-inner, .inline-labels .item-inner{
  align-items: normal!important;
}

.div-list .list .item-inner{
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.title-legenda{
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 10;
  font-weight: var(--f7-navbar-title-font-weight);
  display: inline-block;
  line-height: var(--f7-navbar-title-line-height);
  text-align: var(--f7-navbar-title-text-align);
  font-size: var(--f7-navbar-title-font-size);
  margin-left: var(--f7-navbar-title-margin-left);
  margin-right: var(--f7-navbar-title-margin-left);
}

.background-edit-comentario{
  background-color: rgb(36, 131, 194,0.3);
}
.list .data-comentario{
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: var(--f7-list-item-text-max-lines);
  -webkit-box-orient: vertical;
  font-size: var(--f7-list-item-text-font-size);
  font-weight: var(--f7-list-item-text-font-weight);
  color: var(--f7-list-item-text-text-color);
  line-height: var(--f7-list-item-text-line-height);
  max-height: calc(var(--f7-list-item-text-line-height) * var(--f7-list-item-text-max-lines));
}

/* Formatando preload */
.preload{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100vh; /* Vh = View Height */
	background-color: #ffffff;
	z-index: 200;
	/* transition: 1s; */
}
.loader{
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	top: 45%;
}
.loader img{
  width: 15%;
}
.preload.completo{
	opacity: 0;
	visibility: hidden;
}

.tw-heart-box {
  position: relative;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.tw-heart {
  background: url(http://i.imgur.com/zw8ahUb.png) no-repeat 0 0;
  display: inline-block;
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0;
  top: 0;
}

[type="checkbox"]:checked + .tw-heart {
  transition: background .8s steps(28);
  background-position: -2800px 0;
}

[type="checkbox"] {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#heart img{
  position:absolute;
  left:0;
  right:0;
  margin:0 auto;
 }

 @keyframes heartFadeInOut {
  0% {transform: scale(1);}
  25% {transform: scale(.97);}
  35% {transform: scale(.9);}
  45% {transform: scale(1.1);}
  55% {transform: scale(.9);}
  65% {transform: scale(1.1);}
  75% {transform: scale(1.03);}
  100% {transform: scale(1);}
}

#heart img.bottom,i.bottom { 
  animation-name: heartFadeInOut; 
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

#footer{    
    position:absolute;
    bottom:0; 
    width:100%;
    margin-top: 10px;
}
.f7-icons.login{
	font-size:3rem;
} 
.login .icon-visi{
    display: none;
}
.tamanho-icon .f7-icons{
    margin-top: 10px;
    font-size: 1.4em;
} 
.login-screen{
  display: block!important;
  transform: none!important;
}
.login-screen-content .block, .login-screen-content .block-footer, .login-screen-content .block-header, 
.login-screen-content .list, .login-screen-content .login-screen-title, .login-screen-page .block, 
.login-screen-page .block-footer, .login-screen-page .block-header, .login-screen-page .list, 
.login-screen-page .login-screen-title {
  max-width: 100%;
}
.bg-dark{
  background-color: #000000;
}
.login .page-content{
  overflow: visible;
}
.sair a {
  padding-left: calc(var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-left));
  padding-right: calc(var(--f7-list-chevron-icon-area) + var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-right));
}
.sair a {
  font-size: 16px;
  transition-duration: .3s;
  transition-property: background-color;
  display: block;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  height: var(--f7-list-item-min-height);
  font-weight: bold;
}
.media-list .item-media, li.media-item .item-media {
  align-self: center!important;
}
.notaAV{
  font-size: 3.5em;
  font-weight: bold;
}
.starAV{
  font-size: 1em!important;
}
.notaFinal .list{
  margin: 0!important;
}
.number_star{
  font-size: 1em;
  font-weight: bold;
}
.trabalhos .list-button{
  padding: 2px!important;
}
.form-update .block,.form-update .page-content,.form-update .list,.form-update .list ul,.form-update .list li,.form-update .list .item-title,.form-update .list .item-inner{
  position: relative!important;
}

@media screen and (max-width:385px){
  .imagemPerfil {
    width: 95px;
    height: 74px;
  }
}

@media screen and (max-width:320px){
  .imagemPerfil {
    width: 92px;
    height: 64px;
  }
}
